<p id="notice"><%= notice %></p>

<p>
  <strong>Vulgarname:</strong>
  <%= @product.vulgarName %>
</p>

<p>
  <strong>Cientificname:</strong>
  <%= @product.cientificName %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
